{% extends 'base.html' %}

{% block title %}
    Create new Bilog
{% endblock %}

{% if user.is_authenticated %}

{% block content %}

    <h1>Add Bilog</h1>
    <div class="form-group">
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button class="btn btn-secondary">Post</button>
        </form>
    </div>


<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value = name;
</script>


{% endblock %}

{% else %}

    <h1>You need to login first</h1>

{% endif %}